// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	font-family: 'Noto Sans TC', sans-serif;
	// background-image: url(../imgs/bg.webp);
	// background-size: 50vw;
	// background-repeat: no-repeat;
	// background-position: bottom right;
}

h1, h2, h3, h4 {
	color: $black;
}

h1 {
	font-size: 3.4rem;
	background-color: $red;
	padding: 5px 30px 5px 10px;
	display: inline-block;
	color: #fff;
}

h2 {
	background-color: $yellow;
	padding: 5px 30px 5px 10px;
	display: inline-block;	
	margin-top: 25px;
	margin-bottom: 0;
}

p {
	font-size: 1.3rem;
	margin-top: 20px;
}

.logo-land{
	background-color: $red;
	height: 100vh;
	position: fixed;
	top: 20px;
	right: 0;
	text-align: right;
	padding: 0;
}

// .rotate {
// 	writing-mode: vertical-rl;
// 	text-orientation: upright;
// }

.giant {
	font-size: 12vw;
	font-weight: 700;
	color: #fff;	
	text-align: center;
	line-height: 1;
}

.tag-line {
	font-size: 2rem;
	text-align: center;
	background-color: $yellow;
	margin-top: 20px;
}
